$black: #0c1020;
$white: #fefefe;

$dark-gray: #444;

$gray: #c4c4c4;
$light-gray: #eaeaea;
$rice: #f2f0ea;

$brown: #7c6454;
$coffee: #482b13;

$red: #c02428;

$grape: #775252;
$light-grape: #b59983;
